@import "./rose-pine-moon.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, VictorMono Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background: linear-gradient(217deg, rgba(156, 207, 216, 0.8), rgba(156, 207, 216, 0) 70.71%),
        linear-gradient(127deg, rgba(196, 167, 231, 0.8), rgba(196, 167, 231, 0) 70.71%),
        linear-gradient(336deg, rgba(49, 116, 143, 0.8), rgba(49, 116, 143, 0) 70.71%);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#clock,
#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#custom-player,
#custom-pomo {
    padding: 0 26px;
}

#clock {
    background-color: rgba(224, 222, 244, 0.1);
    color: @text;
    font-style: italic;
    font-weight: bold;
}

#battery {
    background-color: rgba(156, 207, 216, 0.1);
    color: @foam;
    font-style: italic;
    font-weight: bold;
}

#cpu {
    background-color: rgba(156, 207, 216, 0.1);
    color: @foam;
    font-style: italic;
    font-weight: bold;
}

#memory {
    background-color: rgba(156, 207, 216, 0.1);
    color: @foam;
    font-style: italic;
    font-weight: bold;
}

#backlight {
    background-color: rgba(156, 207, 216, 0.1);
    color: @foam;
    font-style: italic;
    font-weight: bold;
}

#network {
    background-color: rgba(196, 167, 231, 0.1);
    color: @iris;
    font-style: italic;
    font-weight: bold;
}

#network.disconnected {
    background-color: rgba(110, 106, 134, 0.1);
    color: @muted;
}

#pulseaudio {
    background-color: rgba(196, 167, 231, 0.1);
    color: @iris;
    font-style: italic;
    font-weight: bold;
}

#pulseaudio.muted {
    background-color: rgba(110, 106, 134, 0.1);
    color: @muted;
}

#tray {
    background-color: rgba(224, 222, 244, 0.5);
}

#idle_inhibitor {
    background-color: rgba(110, 106, 134, 0.1);
    color: @muted;
    font-style: italic;
    font-weight: bold;
}

#idle_inhibitor.activated {
    background-color: rgba(196, 167, 231, 0.1);
    color: @iris;
}

#custom-player {
    font-style: italic;
    font-weight: bold;
}

#custom-player.paused {
    background-color: rgba(110, 106, 134, 0.1);
    color: @muted;
}

#custom-player.playing {
    background-color: rgba(196, 167, 231, 0.1);
    color: @iris;
}

#custom-pomo {
    font-style: italic;
    font-weight: bold;
}

#custom-pomo.running {
    background-color: rgba(234, 154, 151, 0.1);
    color: @rose;
}

#custom-pomo.paused {
    background-color: rgba(246, 193, 119, 0.1);
    color: @gold;
}

#custom-pomo.finished {
    background-color: rgba(110, 106, 134, 0.1);
    color: @muted;
}

.modules-left {
    background-color: @surface;
    border-radius: 0 8px 9999px 0;
    margin: 4px 0;
}

.modules-center {
    background-color: @surface;
    border-radius: 9999px 8px;
    margin: 4px 0;
}

.modules-right {
    background-color: @surface;
    border-radius: 9999px 0 0 8px;
    margin: 4px 0;
}

.module {
    border-radius: 9999px 8px;
    margin: 4px 0;
}

.modules-left > widget:first-child > .module {
    border-radius: 0 8px 9999px 0;
}

.modules-right > widget:last-child > .module {
    border-radius: 9999px 0 0 8px;
}

.modules-left > widget:last-child > .module {
    margin-right: 8px;
}

.modules-center > widget:first-child > .module {
    margin-left: 8px;
}

.modules-center > widget:last-child > .module {
    margin-right: 8px;
}

.modules-right > widget:first-child > .module {
    margin-left: 8px;
}
